#pagination {
    display: inline-block;
   list-style: none; 
  }
  #pagination li {  
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.3 ease;
  }
  #pagination li.active,#pagination li:hover{
    background: gray;
  }
  .filter_container{
      display:inline-flex;
      align-items: center;
  }
  .filter{
      padding: 10px;
  }
  #filtershow a{
      font-size: 2rem;
      margin: 0 5px;
      padding: 10px;
    text-decoration: none;
  }
  #filtershow a:hover,.filter:hover{
      background: gray;
      border-radius: 10px;
      color: white;
  } 